@model IEnumerable<StudentAutomationProject.Entities.Models.Exams>

@{
    ViewData["Title"] = "Sınav Liste";
    Layout = ViewBag.Layout;
}

@if (ViewBag.CurrentUserType == 2)
{
    <p>
        <a class="btn btn-primary btn-sm" asp-action="Add">Sınav Oluştur</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Ders
            </th>
            <th>
                Sınav Tarihi
            </th>
            <th>
                Sınav İsmi
            </th>
            <th>
                Durum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseU.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (ViewBag.CurrentUserType == 2)
                    {
                        <a class="btn btn-info" href=" @Url.Action("Edit", "Exam", new { uid = item.Uid })">Düzenle</a>
                        @if (item.Date<=DateTime.Now)
                        {
                            <a class="btn btn-warning" href=" @Url.Action("Add","ExamResult",new{courseUID=item.CourseUid, examUID = item.Uid})">Sınav Sonucu Gir</a>
                        }
                    }
                    @if (ViewBag.CurrentUserType == 1)
                    {
                        <a class="btn btn-secondary" href=" @Url.Action("Edit", "ExamResult", new { examUID = item.Uid })">Sınav Sonucu Düzenle</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
