@model IEnumerable<StudentAutomationProject.Entities.Models.Departments>

@{
    ViewData["Title"] = "Bölüm Listesi";
    Layout = ViewBag.Layout;
}

<p>
    <a class="btn btn-primary btn-sm" asp-action="Add">Bölüm Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Bölüm İsmi
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-info" href=" @Url.Action("Edit","Department",new{uid=item.Uid})">Düzenle</a>
                    <a class="btn btn-warning" href=" @Url.Action("List","Course",new{departmentUID=item.Uid})">Ders Listesi</a>
                    <a class="btn btn-secondary" href=" @Url.Action("List","Student",new{departmentUID=item.Uid})">Öğrenci Listesi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
