<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .logo {
            font-size: 24px;
            font-weight: bold;
        }

        .leftMenuPart {
            padding: 10px 10px 10px 10px;
            border-bottom: 1px solid #808080;
            border-right: 1px solid #808080;
        }

        .topLeftBar {
            border-right: 1px solid #808080;
        }

        .topBar {
            padding: 10px 10px 10px 10px;
            border-bottom: 1px solid #808080;
        }
        #renderBody {
            padding-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row topBar" style="background-color:red;">
            <div class="col-md-2 col-lg-2 topLeftBar">
                <div class="logo text-center">
                    Öğretmen
                </div>
            </div>
            <div class="col-md-8 col-lg-8" style="background-color:pink;">
                <h4 class="text-center">@ViewBag.Title</h4>
            </div>
            <div class="col-md-2 col-lg-2" style="background-color:yellow;">
                <h5 class="text-center">@ViewBag.CurrentUsername</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-lg-2 leftBar">
                <div class="leftMenu">

                    <div class="row leftMenuPart">
                        Dersler
                    </div>
                    <a href="@Url.Action("Add","Exam")">
                        <div class="row leftMenuPart">
                            Sınav Oluştur
                        </div>
                    </a>
                    <div class="row leftMenuPart">
                        Sınav Notları Gir
                    </div>
                </div>
            </div>
            <div id="renderBody" class="col-md-10 col-lg-10">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
