<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        .logo {
            font-size: 24px;
            font-weight: bold;
        }

        .leftMenuPart {
            padding: 10px 10px 10px 10px;
            border-bottom: 1px solid #808080;
            border-right: 1px solid #808080;
            color: black;
            font-weight: bold;
        }

            .leftMenuPart:hover {
                background-color: #e0e0e0;
                font-style: normal;
            }

        .topLeftBar {
            border-right: 1px solid #808080;
        }

        .topBar {
            padding: 10px 0 10px 0;
            border-bottom: 1px solid #808080;
            background-color:#fff9f5;
        }

        #renderBody {
            padding-top: 10px;
        }

        .topCenterBar {
            border-right: 1px solid #808080;
        }
        
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row topBar">
            <div class="col-md-2 col-lg-2 topLeftBar">
                <div class="logo text-center">
                    Öğretmen
                </div>
            </div>
            <div class="col-md-8 col-lg-8 topCenterBar">
                <h4 class="text-center" style="margin-top:5px!important;">@ViewBag.Title</h4>
            </div>
            <div class="col-md-2 col-lg-2">
                <h5 class="text-center" style="margin-top:5px!important;">@ViewBag.CurrentUsername</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-lg-2 leftBar">
                <div class="leftMenu">
                    <a href="@Url.Action("Add","Exam")">
                        <div class="row leftMenuPart">
                            Sınav Oluştur
                        </div>
                    </a>
                    <a href="@Url.Action("List","Exam")">
                        <div class="row leftMenuPart">
                            Sınavlar
                        </div>
                    </a>
                        <a href="@Url.Action("Logout","Security")">
                            <div class="row leftMenuPart">
                                Çıkış Yap
                            </div>
                        </a>
                </div>
            </div>
            <div id="renderBody" class="col-md-10 col-lg-10">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
