@model List<StudentAutomationProject.Entities.Models.ExamResults>

@{
    ViewData["Title"] = "Sınav Sonuçlarını Düzenle";
    Layout = ViewBag.Layout;
}

<table class="table">
    <thead>
        <tr>
            <th>
                İsim
            </th>
            <th>
                Not
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <form asp-controller="ExamResult" asp-action="Edit" method="post">
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
            <tr>
                <td>
                    @Model[i].PersonU.PersonU.FirstName
                    @Model[i].PersonU.PersonU.LastName
                </td>
                <td>
                    <input asp-for="@Model[i].Grade" />
                </td>
                <input asp-for="@Model[i].PersonUid" type="hidden" />
                <input asp-for="@Model[i].ExamUid" type="hidden" />
                <input asp-for="@Model[i].Status" type="hidden" />
                <input asp-for="@Model[i].Uid" type="hidden" />
                <input asp-for="@Model[i].Id" type="hidden" />

            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td><input class="btn btn-success" type="submit" value="Notları Kaydet" /></td>
                <td></td>
            </tr>
        </tfoot>
    </form>
</table>
