@using StudentAutomationProject.Models.ExamResult
@model StudentGradesViewModel

@{
    ViewData["Title"] = "Öğrenci Notları";
    Layout = ViewBag.Layout;
}


<div class="col-md-4">
    <h5 style="font-weight:bold">Öğrenci Bilgileri</h5>
    <div>
        <strong>İsim:</strong>  @String.Concat(Model.Student.FirstName ," ", Model.Student.LastName)
    </div>
    <div>
        <strong>TC Kimlik No:</strong> @Model.Student.TcNo
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Dersin İsmi
            </th>
            <th>
                Sınav
            </th>
            <th>
                Not
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExamResults) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamU.CourseU.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamU.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>

            <td></td>
        </tr>
}
    </tbody>
</table>
