@using StudentAutomationProject.Models.Course
@model CourseListViewModel

@{
    ViewData["Title"] = "Ders Listesi";
    Layout = ViewBag.Layout;
}

<h4>Bölüm: @Model.Department.Name</h4>
<p>
    <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-departmentUID="@Model.Department.Uid">Ders Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Ders ismi
            </th>
            <th>
                Kontenjan
            </th>
            <th>
                Bölüm İsmi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quota)
            </td>
            <td>
                @Model.Department.Name
            </td>
            <td>
                <a class="btn btn-info" href=" @Url.Action("Edit","Course",new{uid=item.Uid})">Düzenle</a>
            </td>
        </tr>
}
    </tbody>
</table>
